/* I had original plans to make this adjustable
based on the screen size, however I decided that
for the scope of this project I would rather have
the game working and everything necessary done to 
then come back to this if necessary near the end if
I have rthe time */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

/* Drag drop styling (tiles) */
.drag-drop, .no-drop {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: #C8A165;
  border: solid 2px #B48D51;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;

  touch-action: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

/* The main game board grid styling */
.game-board{ 
  display: grid;
  width: 600px; height: 600px;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  justify-content: center;
  margin-right: 50px;
}

.inner-text {
  padding-top: 6px;
}

/* The dark pink dropzone styling */
.box-dark-pink {
  border: 1px solid black;
  background-color: hotpink;
  text-align: center;

  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 7px;
}

/* The light pink dropzone styling */
.box-light-pink {
  border: 1px solid black;
  background-color: lightpink;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 7px;
}

/* The dark blue dropzone styling */
.box-dark-blue {
  border: 1px solid black;
  background-color: blue;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 7px;
}

/* The light blue dropzone styling */
.box-light-blue {
  border: 1px solid black;
  background-color: lightblue;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 7px;
}

/* Blank dropzone styling  */
.box {
  background-color: white;
  border: 1px solid black;
  padding-top: 7px;
}
  
.drop-box {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: auto; margin-right: auto;
}

.details {
  background-color: white;
  height: auto;
  width: auto;

}

h1.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;  
    margin: 0px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

h1.title2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;  
  margin: 0px;
  padding-top: 20px; padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;  
    margin: 0px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

p.login, p.lobby {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

p.credentials{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
  height: fit-content;
}

p.score {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: black;
  text-align: center;
}

.head {
  background: rgb(8, 61, 119)  ;
}

.content {
    background: rgb(8, 61, 119) ;
}

.parent {
    display: flex;
    background-color: transparent;
    flex-flow: row;
    width: fit-content ;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-right: auto;
    margin-left: auto;
  }
  
.parent > div {
    background-color: transparent;
    /* margin: 10px; */
    font-size: 30px;
    width: 100%;
    text-align: center;

  }

  .parent2 {
    display: flex;
    background-color: transparent;
    flex-flow: row wrap;
    width: 90%;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  
.parent2 > div {
    background-color: transparent;
    /* margin: 10px; */
    padding: 10px;
    font-size: 30px;
    width: 100%;
    text-align: center;

  }

button {
    background-color: white;
    height: 40px;
    width: 100px;
    font-size: medium;
    
}

* { padding: 0; margin: 0; }

.container {
    width: 50%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: red;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.item {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}
  
.drop-active {
  border-color: #aaa;
}

.drop-target {
  border: 2px black;
  border-style: solid;
}

.drag-drop.can-drop {
  color: #ffffff;
  background-color: #A0793D;
  border-color: #966F33;
}

.credentials {
  height: 30px;
  width: 200px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.btn {
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.btn2 {
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 15px;
}

#flex-tile {
  width: fit-content;
  background-color: white;
  border: dotted 2px black;
  padding: 20px;
  margin-top: auto; margin-bottom: auto;
  text-align: center;
}

.client {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
