/* Adjusts page to fit screensize */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media screen and (min-width: 1101px) {
  .drag-drop {
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #fff;
    background-color: #C8A165;
    border: solid 3px #B48D51;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
  
    touch-action: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }

  .game-board{ 
    display: grid;
    grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px; 
    grid-template-rows: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
    justify-content: center;
  }


  .box-dark-pink {
    border: 2px solid #B48D51;
    background-color: hotpink;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }
  
  .box-light-pink {
    border: 2px solid #B48D51;
    background-color: lightpink;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }
  
  .box-dark-blue {
    border: 2px solid #B48D51;
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }
  
  .box-light-blue {
    border: 2px solid #B48D51;
    background-color: lightblue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }

  .box {
    background-color: #C8A165;
    border: 2px solid #B48D51;
  }
  
}

@media screen and (max-width:1100px) {
  .drag-drop {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #C8A165;
    border: solid 3px #B48D51;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  
    touch-action: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }

  .game-board{ 
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px; 
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
  }

  .box-dark-pink {
    border: 2px solid #B48D51;
    background-color: hotpink;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .box-light-pink {
    border: 2px solid #B48D51;
    background-color: lightpink;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .box-dark-blue {
    border: 2px solid #B48D51;
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .box-light-blue {
    border: 2px solid #B48D51;
    background-color: lightblue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .box {
    background-color:#C8A165;
    border: 2px solid #B48D51;
  }

}


h1.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;  
    margin: 0px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

h2.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;  
    margin: 0px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

p.login, p.lobby {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

p.credentials {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.content {
    background-color: rgb(8, 61, 119);
}

.parent {
    display: flex;
    background-color: transparent;
    flex-flow: row;
    width: fit-content ;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-right: auto;
    margin-left: auto;
  }
  
.parent > div {
    background-color: transparent;
    /* margin: 10px; */
    font-size: 30px;
    width: 100%;
    text-align: center;

  }

  .parent2 {
    display: flex;
    background-color: transparent;
    flex-flow: row wrap;
    width: 90%;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  
.parent2 > div {
    background-color: transparent;
    /* margin: 10px; */
    padding: 10px;
    font-size: 30px;
    width: 100%;
    text-align: center;

  }

button {
    background-color: white;
    height: 40px;
    width: 100px;
    font-size: medium;
    
}

* { padding: 0; margin: 0; }

canvas { 
    background: #eee; 
    display: block; 
    margin: 0 auto; 
    border: black 1px solid;
    max-width: 98%;
    max-height: 98%;
    height: auto;
    width: auto;
    margin:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    width: 50%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: red;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.item {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}
  
.drop-active {
  border-color: #aaa;
}

.drop-target {
  border-color: #fff;
  border-style: solid;
}

.drag-drop.can-drop {
  color: #ffffff;
  background-color: #A0793D;
  border-color: #966F33;
}

.credentials {
  height: 30px;
  width: 200px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.btn {
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

#flex-tile {
  width: 5%;
}

.client {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 15px;
}